[Bb]in/
[Oo]bj/
.vs/

*.user
*.suo
*.rsuser

*.zip
*.rar
*.7z
*.docx
*.pdf
*.pptx
*.xlsx

ui-smoke.png
browser-*.png
evidence_screenshots/
docx_rendered/

/logo.png
/icon.jpg
/nenapp.jpg

*.log
*.tmp
